{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true,
    "es6": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    // disable rules from base configurations
    "no-console": "off"
  }
}