html body {
  font-family: 'Roboto', sans-serif;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
}

.App-intro {
  font-size: large;
}

.Item-list {
  list-style: none;
}

.Item-list li {
  border: 1px dotted gray;
  width: 20%;
  height: 3em;
  margin: auto;
  text-align: left;
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 2s linear infinite;
}